:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #000;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1048px;
  margin: 10px auto 0 auto;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

main .sample-sheet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
  width: 50%;
  height: fit-content;

  @media screen and (max-width: 640px) {
    width: 100%;
  }
}

main .sample-sheet h2 {
  font-style: italic;
  margin: 0;
}

main .sample-sheet img {
  height: auto;
  width: 85%;
  margin: auto;
}

.fake-ad {
  position: relative;
  width: 100%;
  max-width: 730px;
  height: 90px;
  background-color: #000;
  border-radius: 5px;
  margin: 10px auto 0 auto;
}

.fake-ad::before {
  content: "Advertisement Placeholder";
  color: #fff;
  font-style: italic;
  margin: 10px;
}

.wordsearch-wrapper {
  display: grid;
  grid-template-columns: 200px auto;
  gap: 10px;
  margin-left: 50px;
  width: 90%;

  @media screen and (max-width: 640px) {
    transform: scale(.4) translateX(-300px);
  }
}

.worksheet {
  position: relative;
  margin: 10px auto 0 auto;
  width: 90%;
  height: 670px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  border: .5px solid #000;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  @media screen and (max-width: 640px) {
    width: 95vw;
    height: 40vh;
    margin: 10px auto;
  }
}

.sheet-title {
  position: absolute;
  top: 10px;
  left: 5px;

  @media screen and (max-width: 640px) {
    transform: scale(.35) translateX(-300px);
    left: 35px;
    top: 2px;
  }
}

main .background {
  position: absolute;
  width: 120%;
  height: 100%;
  z-index: -1;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin: 5px 50px;
  padding: 5px 10px;
  width: fit-content;
  background: rgba(255, 255, 255, 55%);
  border-radius: 5px;
}

.grid {
  color: #000;
  padding: 2em;
  width: 500px;
  background-color: rgba(255, 255, 255, 85%);
  border-radius: 10px;
}

.grid>div {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.letter {
  text-align: center;
  width: 35px;
  height: 40px;
  font-size: 1.6rem;
  font-weight: 600;
}

.words {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  font-size: 1.2rem;
  font-style: italic;
  background-color: rgba(255, 255, 255, 85%);
  border-radius: 10px;
}

.words::before {
  content: "Words:";
  font-weight: bold;
}

.words>div {
  margin: 2px 5px;
}

.grid,
.words {
  border: 7px double #000;
  border-radius: 10px;
}

.controls {
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  width: 70%;
  height: 75px;
  display: none;
  gap: 10px;
  justify-content: center;
  align-items: end;
  border: 1px #000 dashed;
  border-radius: 10px;
  position: relative;

  @media screen and (max-width: 640px) {
    width: 90vw;
    flex-wrap: wrap;
    height: fit-content;
  }
}

.controls summary {
  position: absolute;
  top: 2px;
  
  @media screen and (max-width: 640px) {
    position: static;
    flex-basis: 100%;
    text-align: center;
  }
}

.controls button {
  padding: 5px 10px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  color: #fff;
  background-color: goldenrod;
  border: 1px solid #000;
  max-width: 80%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  @media screen and (max-width: 640px) {
    flex-basis: 75%;
  }
}

.controls button:hover {
  background-color: #cb9305;
}

.setup-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 350px;
  max-width: 500px;
  margin: auto;

  @media screen and (max-width: 640px) {
    max-width: 90vw;
  }
}

.setup-section h3 {
  font-size: 1.5rem;
}

.setup-section form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.setup-section form>button {
  width: 50%;
  margin: 10px auto;
  padding: 5px;
  background-color: green;
  color: #fff;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
}

.setup-section form input {
  height: 20px;
  font-size: 1rem;
}

.setup-section form label {
  font-weight: bold;
  font-style: italic;
  width: 100%;
}

.setup-section .search-area {
  border: 1px solid #000;
  background-color: lightgray;
}

.setup-section .search-area input {
  width: 70%;
}

.setup-section .search-area>* {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 10px auto;
  padding: 1px;
  text-align: center;
}

.setup-section .search-area fieldset {
  width: 250px;
  border-radius: 15px;
}

.setup-section .background-select img {
  display: none;
  height: 300px;
  width: 100%;
  margin: 10px auto;
  object-fit: cover;
  border: 1px solid goldenrod;
}

#watermark {
  display: none;
}

/*Don't print these*/
@media print {
  @page {
    size: landscape
  }

  body {
    min-height: 100%;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  main {
    height: 655px;
    width: 98%;
  }
  
  
  #tool-bar,
  .fake-ad {
    display: none !important;
  }

  #watermark {
    display: block;
    padding-top: 10px;
  }
}