:root {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #000;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.wordsearch-wrapper {
  display: grid;
  grid-template-columns: auto 200px;
  gap: 10px;
}

.grid {
  border: 4px double #000;
  color: #000;
  padding: 2em;
  width: 600px;  
}

.grid > div {
  display: flex;
  gap: 20px;
}

.letter {
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 1.8rem;
  font-weight: 600;
}

.words {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border: 4px double #000;
  font-size: 1.2rem;
}

.words > div {
  margin: 5px;
}

.controls {
  margin: 10px 0;
}

.controls > button {
  padding: 5px 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  color: #fff;
  background-color: goldenrod; 
}

.controls > button:hover {
  transform: scale(1.1);
  font-weight: bold;  
}


/*Don't print these*/
@media print
{    
    #tool-bar
    {
        display: none;
    }
}
